<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
  </head>
  <body>
    <ul>
      <% postTitle.forEach(function(postt){ %>
        <li>
          <%=postt.title%><br>
          
        </li>
      <% }); %>

    </ul>
  </body>
</html>
