.navbar-nav{
  margin-right: 20px;
}
.nav-item{
  margin-left: 18px;
}
.container-fluid{
  background-color: red;
}
.wall-vision{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
  margin-top: 2%;
}
.form-space{
  padding: 18px;
}
.form-control{
  margin: 10px;
}
body{
  background-color: green;
}
